<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        
        
        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous"/>

        <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
        
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
<body class="text-center">
    <div id="app" class="app"></div>

    <script>
        var QWebBackend;
        new QWebChannel(qt.webChannelTransport, function (channel) {
            QWebBackend = channel.objects.backend;
        });
     </script>
    
    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
